<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Log in</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('logIn') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('logIn') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="box" method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    <p class="text-white">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </p>
                                </div>
                            {% endif %}

                            <h1>Login</h1>
                            <p class="text-muted"> Please enter your login and password!</p>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus  placeholder="Username">
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password">
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <a class="forgot text-muted" href="/register">Sign up</a>
                            <input type="submit" value="Login">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
